@model Kurier_projekt.Models.Przesyłki

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Przesyłki</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nadawca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nadawca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odbiorca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odbiorca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_nadania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_nadania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres_nadawcy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres_nadawcy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres_odbiorcy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres_odbiorcy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Kurier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Kurier)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Przesylki }) |
    @Html.ActionLink("Back to List", "Index")
</p>
