@model IEnumerable<Kurier_projekt.Models.Pojazdy>

@{
    ViewBag.Title = "Index";
}

<h2>Flota</h2>

<p>
    @Html.ActionLink("Dodaj nowy pojazd", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rok_produkcji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numer_rejestracyjny)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rok_produkcji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numer_rejestracyjny)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id_pojazdu })
            @Html.ActionLink("Edit", "Edit", new { id = item.Id_pojazdu }) 
        </td>
    </tr>
}

</table>
